body {
   
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    font-family: 'Lato', sans-serif;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 25%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
    .progressbar li.active {
        color: #000000;
    }
.progressbar li.active:before {
    border-color: #000000;
}
    .progressbar li.active + li:after {
        background-color: #000000;
    }

.navbar-nav li a {
    text-decoration: none;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    color: #000000;
    -webkit-transition: color 1s, font-size 0.1s;
    -moz-transition: color 1s, font-size 0.1s;
    -o-transition: color 1s, font-size 0.1s;
    transition: ccolor 1s, font-size 0.1s;
}

.navbar-nav li a:hover {    
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: bolder;

}   

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.logo {
    width: 30%;
    height: 30%;
}


